.scarab-itemlist {
  padding:0px 20px;
  position:relative;
  border: 1px solid #C5D7EF;
}

.scarab-item {
  display:inline-block;
  width:120px;
  margin:5px;
  vertical-align:top;
  font-size: 12px;
  font-family:Arial,sans-serif;
  text-align:center;
}
.scarab-item img {
  max-width:100px;
  max-height:100px;
  display:block;
  margin:0px auto;
  border:0px;
}

.scarab-prev,.scarab-next {
  position:absolute;
  width:20px;
  height:20px;
  line-height:20px;
  top:50%;
  margin-top:-10px;
  cursor:pointer;
  text-align:center;
  font-size:16px;
  color:#C5D7EF;
}
.scarab-prev {
  left:0px;
}
.scarab-next {
  right:0px;
}
.scarab-disabled-button {
  cursor:default;
  opacity: 0.4;
}
